absl-py==0.1.10
attrs==17.4.0
bleach==1.5.0
gpflow==1.1.0
html5lib==0.9999999
joblib==0.11
Markdown==2.6.11
multipledispatch==0.4.9
numpy==1.14.1
pandas==0.22.0
pluggy==0.6.0
protobuf==3.5.1
py==1.5.2
pytest==3.4.1
python-dateutil==2.6.1
pytz==2018.3
scipy==1.0.0
six==1.11.0
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
Werkzeug==0.14.1
